.nav{
	margin-right: auto;
	margin-left: auto;
}
.nav .nav_middle{
background-color: pink;
	
}
.nav .nav_middle .middle_l li{
	float: left;
	margin-left: 20px;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
