.nav_t {
	height:90px;
	line-height:90px;
	/*background-color: red;*/
}

.logo img {
	margin-top:20px;
}
.nav_t ul li {
	float: left;
	width:94px;
	font-size:18px;
	text-align: center;
}
.nav_t ul li:hover {
	color:#31c27c;
}
.nav_t .search {
	position: relative;
}
.nav_t .search img {
	position:absolute;
	right: 10px;
	top:50%;
	margin-top: -12px;
	cursor: pointer;
}
.nav_t .search input {
	width: 218px;
	height: 36px;
	border:1px solid #ddd;
	border-radius:4px;
	text-indent:10px;
	font-size:14px;
	padding-right:20px;
}