.navbar {
	background-color: #fff;
}
.navbar .nav_t {
	border-bottom: 1px solid #ddd;
}
.nav_t {
	height:90px;
	line-height:90px;
	/*background-color: red;*/
}

.logo img {
	margin-top:20px;
}
.nav_t ul {
	margin-left: 20px;
}
.nav_t ul li {
	float: left;
	width:94px;
	font-size:18px;
	text-align: center;
}
.nav_t ul li.active {
	background-color:#31c27c;
	color:#fff;
}
.nav_t ul li:hover {
	color:#31c27c;
}
.nav_t .search {
	position: relative;
}
.nav_t .search img {
	position:absolute;
	right: 10px;
	top:50%;
	margin-top: -12px;
	cursor: pointer;
}
.nav_t .search input {
	width: 218px;
	height: 36px;
	border:1px solid #ddd;
	border-radius:4px;
	text-indent:10px;
	font-size:14px;
	padding-right:20px;
}
.nav_t>span {
	font-size:16px;
	margin-left: 24px;
}
.nav_t>span:hover {
	color:#31c27c;
}
.nav_t>.vip_btn {
	position:relative;
	width: 120px;
	height:42px;
	background-color: #31c27c;
	border-radius:4px;
	color:#fff;
	margin-left:15px;
}
.nav_t>.chong_btn {
	position:relative;
	width: 80px;
	height:42px;
	border-radius:4px;
	margin-left:15px;
	border:1px solid #ddd;
}
.nav_t>button i {
	position:absolute;
	top:50%;
	margin-top:-3px;
	right:10px;
	width:0;
	height: 0;
	border:5px solid transparent;
	border-top-color:#fff;
}
.nav_t>button.chong_btn i {
	border-top-color:#000;

}

.nav-b ul li {
	float: left;
	line-height: 50px;
	padding:0 24px;
	font-size:15px;
}
.nav-b ul li:hover {
	color:#31c27c;
}
.nav-b ul li.active {
	color: #31c27c;
}






.playlist {
	margin-top: 50px;
}
.playlist h2 {
	text-align:center;
	font-size: 32px;
	font-weight:normal;
}
.tuijian_list {
	margin-top: 36px;
	text-align: center;
}
.tuijian_list ul {
	display:inline-block;
}
.tuijian_list ul li {
	float: left;
	padding:0 20px;
}
.tuijian_wrapper {
	margin-top: 34px;
}
.tuijian_wrapper ul li {
	width:226px;
	float: left;
	margin-left: 17.5px;
}
.tuijian_wrapper ul li div img {
	width: 100%;
}
.tuijian_wrapper li .playlist_name {
	margin-top: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.tuijian_wrapper li .playlist_name a:hover {
	color:#31c27c;
}
.tuijian_wrapper li .playlist_info {
	color:#999;
}
.newsong_list {
	margin-top: 34px;
}
.newsong_list ul {
	display: flex;
	flex-wrap: wrap;
}

.newsong_list li{
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	width: 30%;
	margin-right: 3%;
	padding-bottom: 10px;
}
.song_info {
	margin-left: 10px;
	width: 245px;
	height: 87px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.song_time {
	line-height: 87px;
	color:#999;
}
.xindie li {
	margin-bottom: 20px;
}



.song_list {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
}
.song_list>li {
	width:224px;
	background-color: red;
	padding:30px;
	color:#fff;
	box-sizing:border-box;
	background:url("../images/playlist/bg_index_top.jpg") no-repeat;
}
.song_list>li:nth-of-type(1) {
	background-position-x:0;
}
.song_list>li:nth-of-type(2) {
	background-position-x:-224px;
}
.song_list>li:nth-of-type(3) {
	background-position-x:-448px;

}
.song_list>li:nth-of-type(4) {
	background-position-x:-672px;

}
.song_list>li:nth-of-type(5) {
	background-position-x:-896px;

}

.song_list>li>p {
	font-size:22px;
	text-align: center;
	letter-spacing: 2px;
}
.song_list>li>h3 {
	font-size:26px;
	text-align: center;
	font-weight:normal;
}
.song_list>li .line {
	width:100px;
	height:2px;
	background-color: #fff;
	margin:40px auto;
}
.song_list .list_item li {
	margin-bottom:35px;
}
.song_list .list_item li p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.song_list .song_name span {
	display:inline-block;
	width:20px;
}
.song_list .single_name {
	text-indent:20px;
}

.video_icon {
	display:inline-block;
	margin-right: 10px;
	width: 19px;
	height:12px;
	vertical-align: middle;
	background:url("../images/playlist/video.png") no-repeat 0 0/100% 100%;
}



.footer {
	margin-top:35px;
	padding:80px 0 30px;
	background-color: #333;
	color:#999;
}
.footer a:hover {
	color:#31c27c;
}
.foot_t ul,.foot_c ul {
	display: flex;
}
.t_l {
	width: 33.33%;
}
.t_l>p {
	font-size:14px;
}
.t_l>div {
	display: flex;
	flex-wrap: wrap;
	margin-top:30px;
}
.t_r>div {
	display: block;
}
.t_r>div>a {
	float: left;

}
.t_l a {
	display: block;
	text-align: center;
	margin-right:32px;
	margin-top:20px;
}
.t_l a span {
	display: block;
	text-align: center;
	font-size: 14px;
} 
.t_l a span:hover {
	color:#31c27c;
} 
.t_l i {
	display: inline-block;
	width: 47px;
	height:48px;
	background: url('../images/footer.png') no-repeat;

}
.t_l a:nth-of-type(1) i {
	background-position-x:0px; 
}
.t_l a:nth-of-type(2) i {
	background-position-x:-92px; 

}
.t_l a:nth-of-type(3) i {
	background-position-x:-182px; 
}
.t_l a:nth-of-type(4) i {
	background-position-x:-272px; 
}

.t_c a:nth-of-type(1) i {
	background-position-x:-370px; 
}
.t_c a:nth-of-type(2) i {
	background-position-x:-460px; 

}
.t_c a:nth-of-type(3) i {
	background-position-x:-550px; 
}
.t_c a:nth-of-type(4) i {
	background-position-x:-640px; 
}


.t_l a i:hover {
	background-position-y:-49px; 
}


.foot_c,.foot_b {
	margin-top: 130px;
}
.foot_b {
	text-align: center;
	font-size: 12px;
	line-height: 30px;
}